body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.flexible{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.orange-color{
    color: orange;
}
.Experiences-item{
width: 40%;
margin-left: 5%;
margin-right: 5%;
padding-left: 10px;
box-shadow: 5px 5px 20px orange;
border-radius: 5px
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position: left;

}
#made-dev{
    border: left 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#made-wev{
    border: left 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}